v-card
  v-toolbar.text-center(flat dark color="primary lighten-1")
    .row.justify-center
      v-icon.white--text.mx-2 {{itemIcon}}
      h1.headline {{itemPluralName}}
  block before_list
    hr
  .container(v-if="loading")
    LoadingComponent
  .container(v-else)
    v-list(two-line, subheader)
      v-list-item(v-if="items.length===0")
        block no_items
          v-list-item-content
            v-list-item-title There is none {{itemPluralName}}
            v-list-item-subtitle
              a(@click="callRegistration") Register
      v-list-item(
        v-for="(item,idx) in items",
        :key="idx",
        @click="")
        block item_content
            v-list-item-content
              v-list-item-title(v-if="title") 
                | {{ getItemTitle(item) }}
              v-list-item-subtitle(v-if="subtitle") 
                .overline {{ getItemSubTitle(item) }}
            v-list-item-action
                v-btn(icon)
                  v-icon(
                    @click="callDetail" 
                    color="grey lighten-1") 
                    | {{ itemActionIcon}}
