v-card.primary.darken-1
  v-toolbar.text-center.primary(flat dark)
    .row.justify-center
      v-icon.white--text.mx-2 {{itemIcon}}
      h1.headline {{itemPluralName}}
  block before_list
  .container(v-if="loading")
    LoadingComponent
  .container(v-else)
    v-list(two-line, subheader).primary.darken-1
      v-list-item(v-if="items.length===0")
        block no_items
          v-list-item-content
            v-list-item-title There is none {{itemPluralName}}
            v-list-item-subtitle
              a(@click="callRegistration") Register
      v-list-item(
        dark
        v-for="(item,idx) in items",
        :key="idx").primary
        block item_content
            v-list-item-content
              v-list-item-title(v-if="title") 
                | {{ getItemTitle(item) }}
              v-list-item-subtitle(v-if="subtitle") 
                .overline {{ getItemSubTitle(item) }}
            block item_action
              v-list-item-action
                v-btn(icon @click="callDetail($event, item)")
                  v-icon(
                    color="grey lighten-1") 
                    | {{ itemActionIcon}}
